@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
    --text-pale-violate: hsl(276, 100%, 81%);
    --text-moderate-violate: hsl(276, 55%, 52%);
    --text-dark-violet: hsl(271, 15%, 43%);
    --text-grayish-blue: hsl(206, 6%, 79%);
    --text-very-dark-violet: hsl(271, 36%, 24%);
    --text-dark-grayish-violet: hsl(270, 7%, 64%);

    --bg-magenta: hsl(293, 100%, 63%);
    --bg-violet: hsl(264, 100%, 61%);
    --bg-app: hsl(270, 20%, 96%);
    --bg-submit-btn: hsl(271, 36%, 24%);
    --outline-radio-btn: hsl(289, 100%, 72%);
    --bg-left-smg: #ece5f2;

    --deco-width: 30vw;
}

html {
    font-size: 16px;
    font-family: "Rubik", sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #fafafa;
    width: 100%;
    display: flex;
    gap: 7.5rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.bg-deco-left {
    position: absolute;
    /* top: -30vh; */
    height: 100vh;
    width: var(--deco-width);
    top: -20vh;
    left: -5vw;

    .bg-deco-left-rect {
        position: absolute;
        width: 100%;
        height: calc(100% - var(--deco-width) / 2);
        /* background: var(--bg-magenta); */
        background: linear-gradient(
            180deg,
            var(--bg-magenta) 0%,
            var(--bg-violet) 100%
        );
        z-index: 10;
    }

    .bg-deco-left-circle {
        background-color: var(--bg-violet);
        aspect-ratio: 1/1;
        width: 100%;
        position: absolute;
        border-radius: 100%;
        bottom: 0;
        z-index: 5;
    }
}

.bg-deco-right {
    position: absolute;
    /* top: -30vh; */
    height: 100vh;
    width: var(--deco-width);
    bottom: -20vh;
    right: -5vw;

    .bg-deco-right-rect {
        position: absolute;
        width: 100%;
        top: calc(var(--deco-width) / 2);
        height: calc(100% - var(--deco-width) / 2);
        /* background: var(--bg-magenta); */

        background-color: var(--bg-app);
        z-index: 10;
    }

    .bg-deco-right-circle {
        background-color: var(--bg-app);
        aspect-ratio: 1/1;
        width: 100%;
        position: absolute;
        border-radius: 100%;
        top: 0;
        z-index: 5;
    }
}

.phone-container {
    width: 25rem;
    height: fit-content;
    z-index: 20;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 4vh;
    padding: 0.75rem;
    display: flex;
    /* transform: translateY(10rem); */
    flex-direction: column;
    box-sizing: border-box;
    scale: 0.75 0.75;

    .phone-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 3vh 3vh 1vh 1vh;
        background: linear-gradient(
            270deg,
            var(--bg-magenta) 0%,
            var(--bg-violet) 100%
        );

        .camera-hole {
            width: 50%;
            height: 1.5rem;
            background-color: white;
            border-radius: 0 0 5rem 5rem;
        }

        .phone-head-content {
            display: flex;
            width: 100%;
            padding: 1rem;
            align-items: center;
            gap: 0.5rem;
            #back {
                height: 100%;
                color: white;
                font-weight: 900;
                display: flex;
                font-size: larger;
                align-items: center;
                transform: scale(0.6, 1.5);
                padding-left: 1.5rem;
            }
            img {
                height: 2rem;
                aspect-ratio: 1/1;
                border-radius: 100%;
                border: 1.5px solid white;
            }

            div {
                color: white;
                font-family: "Rubik", sans-serif;
                width: fit-content;
                padding-left: 0.25rem;
                span {
                    font-size: x-small;
                    color: var(--text-dark-grayish-violet);
                }
                flex-grow: 1;
            }
            #menu {
                padding-right: 1.5rem;
                color: white;
            }
        }
    }
    .app {
        background-color: var(--bg-app);
        flex-grow: 1;
        border-radius: 1vh 1vh 3vh 3vh;

        padding: 1rem;
        gap: 1rem;

        div.left {
            display: flex;
            flex-direction: column;
            align-items: baseline;

            p.msg-left {
                width: 55%;
                background-color: var(--bg-left-smg);
                font-family: "Rubik", sans-serif;
                padding: 1rem;
                border-radius: 1rem 1rem 1rem 0.5rem;
                font-size: x-small;
                color: var(--text-moderate-violate);
                margin-bottom: 1rem;
            }
            div.left-walk {
                width: 70%;
                height: 3rem;
                background: linear-gradient(
                    90deg,
                    var(--bg-magenta) 0%,
                    var(--bg-violet) 100%
                );
                border-radius: 1rem 1rem 1rem 0.5rem;
                display: flex;
                align-items: center;
                padding: 0rem 1rem;
                gap: 0.5rem;
                margin-bottom: 1rem;

                div.checkbox {
                    height: 1rem;
                    aspect-ratio: 1/1;
                    border-radius: 100%;
                    border: 1.5px solid var(--outline-radio-btn);
                }
                p {
                    font-family: "Rubik", sans-serif;
                    width: fit-content;
                    font-size: x-small;
                    color: white;
                    flex-grow: 1;
                }
                span {
                    font-family: "Rubik", sans-serif;
                    color: white;
                    padding: 0 0.5rem;
                }
            }
        }

        div.right {
            display: flex;
            flex-direction: column;
            align-items: end;

            div.msg-right {
                display: flex;
                gap: 0.5rem;
                margin-bottom: 1rem;

                img {
                    height: 3rem;
                    aspect-ratio: 1/1;
                    border-radius: 1rem;
                }
            }

            p.msg-right {
                width: 55%;
                background-color: white;
                font-family: "Rubik", sans-serif;
                padding: 1rem;
                border-radius: 1rem 1rem 0.5rem 1rem;
                font-size: x-small;
                color: var(--text-very-dark-violet);
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                margin-bottom: 1rem;
            }
        }

        div.input {
            background-color: white;
            border-radius: 1rem;
            padding: 0.25rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;

            span {
                font-family: "Rubik", sans-serif;
                font-size: x-small;
                padding: 0 0.75rem;
                color: var(--text-dark-grayish-violet);
            }

            div {
                background-color: black;
                color: white;

                text-align: center;
                border-radius: 100%;
                aspect-ratio: 1/1;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    color: white;
                    font-size: large;
                }
            }
        }
    }
}

.description {
    display: flex;
    flex-direction: column;
    z-index: 30;
    /* transform: translateY(5rem); */
    width: 30rem;
    h2 {
        font-family: "Rubik", sans-serif;
        font-size: xx-large;
        font-weight: bold;
        padding: 2.5rem 0;
    }
    p {
        font-family: "Rubik", sans-serif;
        color: var(--text-dark-grayish-violet);
        line-height: 1.5rem;
    }
}


@media screen and (max-width: 768px) {

    body {
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .phone-container {
        width: 80vw;
        transform: translateY(20rem);
    }
    .bg-deco-left {
        width: 100vw;
        left: -50vw;
    }
    .bg-deco-right {
        width: 100vw;
        left: 50vw;
    }
    .description {
        padding: 5rem 0;
        width: 85vw;
        text-align: center;
    }
}